/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Shrikhand", cursive;
}

/* HEADER */
header {
  width: 100%;
}
header .Head {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
header .Head .logo {
  width: 50%;
}

/* RESERVE*/
.reserve {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  font-size: 1.2rem;
}
.reserve .search {
  display: flex;
  justify-content: center;
  height: 3rem;
}
.reserve .geo {
  background-color: #eaeaea;
  border: none;
  width: 1.5rem;
}
.reserve .ville {
  text-decoration: none;
  background-color: #eaeaea;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
}
.reserve .introduction {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.reserve .introduction h2 {
  font-size: 2rem;
  margin: 3rem 4rem 1.5rem 4rem;
  text-align: center;
}
.reserve .introduction p {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-align: center;
}
.reserve .introduction .explore {
  width: 65%;
  height: 4rem;
  font-size: 1.5rem;
  margin: 3rem auto;
  border-radius: 2rem;
  border-style: none;
  color: white;
  background: linear-gradient(170deg, #ff93e1, 50%, #782cd3);
}

/* Fonctionnement */
.Fonctionnement {
  margin: 4rem 0;
}
.Fonctionnement h2 {
  margin: 1rem;
}
.Fonctionnement nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: auto;
}
.Fonctionnement nav a {
  font-size: 1.5rem;
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  color: black;
  background-color: #f6f6f6;
  border: 1px solid transparent;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow: 0 0.75rem 0.75rem rgba(0, 0, 0, 0.2);
  transition: all 200ms linear;
}
.Fonctionnement nav a:hover,
.Fonctionnement nav a:focus,
.Fonctionnement nav a.active {
  background-color: #e5b9e5;
  color: purple;
}
.Fonctionnement nav a:focus {
  border: 1px solid purple;
  outline: none;
}
.Fonctionnement nav a::before {
  display: block;
  position: absolute;
  left: -12px;
  top: 25px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  background-color: purple;
  border-radius: 100%;
}
.Fonctionnement nav a:nth-child(1)::before {
  content: "1";
}
.Fonctionnement nav a:nth-child(2)::before {
  content: "2";
}
.Fonctionnement nav a:nth-child(3)::before {
  content: "3";
}

/* MENU */
.menu {
  background-color: #eaeaea;
}
.menu h2 {
  margin: 4rem 0 0 2rem;
}
.menu a {
  text-decoration: none;
}
.menu a .card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.menu a .card::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  width: 6rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
}
.menu a .card[data-new]::before {
  content: "Nouveau";
  color: #008766;
  background-color: #99E2D0;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10%;
}
.menu a .card img {
  object-fit: cover;
  border-radius: 0.75rem 0.75rem 0 0;
  height: 200px;
}
.menu a .card div {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0.75rem 0.75rem;
  background-color: white;
  padding-left: 0.5rem;
}
.menu a .card div div {
  flex-direction: column;
  margin: 1rem 0;
}
.menu a .card div div p {
  margin-top: 0.2rem;
}
.menu a .card div button {
  padding-right: 1rem;
  position: relative;
  z-index: 10;
  color: black;
  transition: color 0.4s ease-out;
  border: none;
  background-color: transparent;
}
.menu a .card div button:hover,
.menu a .card div button:active {
  color: #9356DC;
}

/* FOOTER */
footer {
  background-color: #353535;
  color: #fff;
}
footer div {
  display: flex;
  flex-direction: column;
}
footer div h3 {
  margin: 1.5rem;
}
footer div div {
  margin-left: 2rem;
}
footer div div a {
  padding-bottom: 1rem;
  text-decoration: none;
  color: #fff;
}
footer div div a .fas {
  padding-right: 0.5rem;
}

/* Maquette des Menus */
header .Head a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .Head a .fa-arrow-right {
  visibility: hidden;
}

/* TITRE */
.titre {
  background-color: #eaeaea;
}
.titre img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 278px;
}
.titre div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #eaeaea;
  border-radius: 1rem 1rem 0 0;
  bottom: 3rem;
  height: 3rem;
  padding: 2rem 2rem 0 2rem;
}
.titre div h1 {
  font-size: 2rem;
}
.titre div .fa-heart {
  font-size: 1.2rem;
}

/* CARTE */
.carte {
  background-color: #eaeaea;
}
.carte .entrees {
  width: 90%;
  margin: 0 auto;
  border-radius: 20%;
}
.carte .entrees h2 {
  margin-bottom: 1rem;
}
.carte .entrees div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  height: 4rem;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: transform 0.5s;
}
.carte .entrees div:hover {
  transform: none;
}
.carte .entrees div article {
  flex-grow: 1;
  padding-left: 1rem;
}
.carte .entrees div strong {
  padding: 2rem 1rem 1rem 1rem;
}
.carte .entrees div button {
  background-color: #99E2D0;
  color: white;
  border: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 0;
}
.carte .entrees div button svg {
  height: 20px;
  width: 20px;
  transform: rotate(200deg);
}
.carte .entrees div:hover button {
  transition: width 0.4s linear;
  width: 50px;
  padding: 1rem;
}
.carte .entrees div:hover button svg {
  transform: rotate(0);
  transition: transform 0.6s linear;
}

/*# sourceMappingURL=styles.css.map */
